/*-----------------------------------------------------------------------------------------------------*/
.font{  
   font-family:"Times New Roman", Times, serif;  
   font-size: 12px;   
}

.pbot{
  padding-bottom: 35em;
}

.col-3{
    display: grid;
}

input:invalid {
  border: 2px dashed red;
}

input:valid {
  border: 2px solid black;
}

a:link{
  color: aqua;
}

a:visited{
  color: rgb(46, 189, 189);
}

.BW{
  background-color: palevioletred;
  padding: 2em;
}


#Group_1{
  animation: spin 0.07s alternate backwards infinite;
  transform-origin: center;
  transform-box: fill-box;
}

#Group_2{
  animation: spin 0.1s alternate backwards infinite;
  transform-origin: center;
  transform-box: fill-box;
}

#Group_3{
  animation: spinreverse 0.4s alternate backwards infinite;
  transform-origin: center;
  transform-box: fill-box;
}

#Group_4{
  animation: grow 1s alternate backwards infinite;
  transform-origin: center;
  transform-box: fill-box;
}

#tri3blob{
  animation:  grow 1s 0.5s alternate backwards infinite;
  transform-origin: center;
  transform-box: fill-box;
}

#tri4blob{
  animation:  shrink 2s 0.5s alternate backwards infinite;
  transform-origin: center;
  transform-box: fill-box;
}

#t3blob{
  animation:  shrink 2s 0.5s alternate backwards infinite;
  transform-origin: center;
  transform-box: fill-box;
}

#eyesr{
  animation:  grow 1s 0.5s alternate backwards infinite;
  transform-origin: center;
  transform-box: fill-box;
}

#eyesl{
  animation:  grow 1s 0.5s alternate backwards infinite;
  transform-origin: center;
  transform-box: fill-box;
}



@keyframes grow{
  0%, 100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
  }
}

@keyframes shrink{
  0%, 100% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.9);
  }
}


@keyframes spin{
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(7deg);
  }
}

  @keyframes spinreverse{
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(-4deg);
    }
  }





.col-2 {
  display: block;
}

button {
  background: #2ecc71;
  border-radius: 3px;
  -webkit-box-shadow: 0px 5px 0px #25a25a;
          box-shadow: 0px 5px 0px #25a25a;
  border: 0;
  color: white;
  font-size: 17px;
  padding: 10px 30px;
  display: inline-block;
  outline: 0;
}

button:hover {
  background: #25a25a;
  -webkit-box-shadow: 0px 5px 0px #1b7943;
          box-shadow: 0px 5px 0px #1b7943;
}

button:active {
  -webkit-box-shadow: none;
          box-shadow: none;
  margin-top: 5px;
}

.card {
  position: relative;
  border-radius: .2em;
  overflow: hidden;
  text-align: left;
  margin-bottom: .6em;
  padding: 0;
}

.box {
  margin: 2px;
  padding: 2px;
}

.cent {
  text-align: center;
}

.Ptop {
  display: block;
}

.border {
  border: solid black 1px;
  background-color: #c086cc;
}

.padding {
  padding: 10px;
}

.alignment {
  text-align: center;
  display: inline-block;
}

/*-----------------------------------------------------------------------------------------------------*/
body {
  display: -ms-grid;
  display: grid;
      grid-template-areas: "haus"
 "valstika"
 "midja"
 "vinstri"
 "haegri"
 "fotur";
  background-image: -webkit-gradient(linear, left top, left bottom, from(#C481C2), to(#753773));
  background-image: linear-gradient(#C481C2, #753773);
  text-align: center;
  padding-top: 5px;
}

.header {
  display: -ms-grid;
  display: grid;
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: haus;
}

.navbar {
  display: -ms-grid;
  display: grid;
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: valstika;
}

.aside {
  display: -ms-grid;
  display: grid;
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  grid-area: vinstri;
}

.main {
  display: -ms-grid;
  display: grid;
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: midja;
}

.article {
  display: -ms-grid;
  display: grid;
  -ms-grid-row: 5;
  -ms-grid-column: 1;
  grid-area: haegri;
}

.footer {
  display: -ms-grid;
  display: grid;
  -ms-grid-row: 6;
  -ms-grid-column: 1;
  grid-area: fotur;
}


/*-----------------------------------------------------------------------------------------------------*/
@media screen and (min-width: 37.5em) {
  body {
    display: -ms-grid;
    display: grid;
        grid-template-areas: "valstika valstika valstika valstika valstika valstika valstika"
 "haus haus haus haus haus haus haus"
 "midja midja midja midja midja midja midja"
 "vinstri vinstri vinstri vinstri vinstri vinstri vinstri"
 "haegri haegri haegri haegri haegri haegri haegri"
 "fotur fotur fotur fotur fotur fotur fotur";
    background-image: -webkit-gradient(linear, left top, left bottom, from(#C481C2), to(#753773));
    background-image: linear-gradient(#C481C2, #753773);
  }
  .header {
    display: -ms-grid;
    display: grid;
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    -ms-grid-column-span: 7;
    grid-area: haus;
  }
  .navbar {
    display: -ms-grid;
    display: grid;
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 7;
    grid-area: valstika;
    -ms-grid-columns: (1fr)[7];
        grid-template-columns: repeat(7, 1fr);
  }
  .aside {
    display: -ms-grid;
    display: grid;
    -ms-grid-row: 4;
    -ms-grid-column: 1;
    -ms-grid-column-span: 7;
    grid-area: vinstri;
  }
  .main {
    display: -ms-grid;
    display: grid;
    -ms-grid-row: 3;
    -ms-grid-column: 1;
    -ms-grid-column-span: 7;
    grid-area: midja;
  }
  .article {
    display: -ms-grid;
    display: grid;
    -ms-grid-row: 5;
    -ms-grid-column: 1;
    -ms-grid-column-span: 7;
    grid-area: haegri;
  }
  .footer {
    display: -ms-grid;
    display: grid;
    -ms-grid-row: 6;
    -ms-grid-column: 1;
    -ms-grid-column-span: 7;
    grid-area: fotur;
  }
  .col-2 {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
  .Ptop {
    padding-top: 100px;
  }
}

.col-3{
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
    grid-template-columns: repeat(3, 1fr);
}

/*-----------------------------------------------------------------------------------------------------*/
@media screen and (min-width: 60em) {
  body {
    display: -ms-grid;
    display: grid;
        grid-template-areas: "haus haus haus haus haus haus haus"
 "valstika valstika valstika valstika valstika valstika valstika"
 "midja midja midja midja midja midja midja"
 "vinstri vinstri vinstri vinstri vinstri vinstri vinstri"
 "haegri haegri haegri haegri haegri haegri haegri"
 "fotur fotur fotur fotur fotur fotur fotur";
    background-image: -webkit-gradient(linear, left top, left bottom, from(#C481C2), to(#753773));
    background-image: linear-gradient(#C481C2, #753773);
  }
  .header {
    display: -ms-grid;
    display: grid;
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 7;
    grid-area: haus;
  }
  .navbar {
    display: -ms-grid;
    display: grid;
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    -ms-grid-column-span: 7;
    grid-area: valstika;
    -ms-grid-columns: (1fr)[7];
        grid-template-columns: repeat(7, 1fr);
  }
  .aside {
    display: -ms-grid;
    display: grid;
    -ms-grid-row: 4;
    -ms-grid-column: 1;
    -ms-grid-column-span: 7;
    grid-area: vinstri;
  }
  .main {
    display: -ms-grid;
    display: grid;
    -ms-grid-row: 3;
    -ms-grid-column: 1;
    -ms-grid-column-span: 7;
    grid-area: midja;
  }
  .article {
    display: -ms-grid;
    display: grid;
    -ms-grid-row: 5;
    -ms-grid-column: 1;
    -ms-grid-column-span: 7;
    grid-area: haegri;
  }
  .footer {
    display: -ms-grid;
    display: grid;
    -ms-grid-row: 6;
    -ms-grid-column: 1;
    -ms-grid-column-span: 7;
    grid-area: fotur;
  }
  .col-2 {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
  .Ptop {
    padding-top: 100px;
  }

  .col-3{
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(3, 1fr);
  }

}
/*# sourceMappingURL=style.css.map */