<footer class="footer">

    <table class="BW">
    
    <button class=""><a href="newsite.html">New Post</a></button>

        <tr>
            <div class=col-3>
                <h4>dificulty</h4>
                <h4>cake</h4>
                <h4>bread</h4>
            </div>
            <td> <h3>Easy</h3> </td>
            <td> <a href="">pancake</a> </td>
            <td> <a href="">goodbread</a> </td>
        </tr>
        <tr>
            <td> <h3>Medium</h3> </td>
            <td> <a href="">dirtcake</a> </td>
            <td> <a href="">bestbread</a> </td>
        </tr>
        <tr>
            <td> <h3>Hard</h3> </td>
            <td> <a href="">sandcake</a> </td>
            <td> <a href="">THEbread</a> </td>
        </tr>
    </table>



    <p>&copy; 2020 hlynur.2002@gmail.com</p>


    <svg width="366" height="384" viewBox="0 0 376 394" fill="none" xmlns="http://www.w3.org/2000/svg">
        <g id="Group 1">
        <line id="mouth" x1="0.00381668" y1="69.5" x2="131.004" y2="70.5" stroke="black"/>
        <circle id="eyer" cx="108.5" cy="22.5" r="22.5" fill="#438C46"/>
        <circle id="eyel" cx="22.5" cy="22.5" r="22.5" fill="#438C46"/>
        <circle id="eyesl" cx="22.5" cy="22.5" r="11.5" fill="black"/>
        <circle id="eyesr" cx="108.5" cy="22.5" r="11.5" fill="black"/>
        </g>
    </svg> 

</footer>
